p, h1 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 50;
}

h1 {
  position: fixed;
  top: 10;
  left: 120;
}

img {
    position: fixed;
    top: 33;
    left: 25;
    width: 80;
}

#input-container {
  position: fixed;
  bottom: 20;
  left: 20;
}